.footer {
    
    
    display: flex;
    justify-content: space-between;
    
}
.footerBack{
    margin-top: 144px;
  padding: 40px 75px;  
background: rgba(255, 255, 255, 0.10);
}
.footer__list>h4{
    color: #FFF;

    /* H3 */
    font-family: 'Poppins';
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 36.4px */
}
.footer__list__menu{
    color: var(--1-white, #FFF);

    /* H4 */
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 26px */
    
}
.footer__list__menu>li{
padding-top: 16px;
}

.media{
max-width: 410px;
width: 100%;
}
.media__about__phone>img{
width: 40px;
height: 40px;
}
.primetech{
display: flex;
justify-content: center;
align-items: center;
margin-top: 40px;
}
.primetech>p{
    color: rgba(209, 225, 249, 0.50);
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 25.2px */
    letter-spacing: 0.36px;
    margin-left: 8px;
}
@media screen and (max-width:950px) {
.footer{
flex-wrap: wrap;
gap: 30px 0;
}
}
@media screen and (max-width:768px) {
    .footer{
      justify-content: center;
      align-items: center;
    }
    }